.block {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
}

.title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button {
  width: 100% !important;
  margin-top: 20px;
}
